<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="header">
                ข้อมูลส่วนตัว
            </div>
        </div>
    </div>
    <div class="card p-5 mt-4">
        <div class="row">
            <div class="col-md-6">
                <span>ชื่อ</span>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <span>สกุล</span>
                <input type="text" class="form-control">
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>อีเมล</span>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <span>เบอร์โทรศัพท์</span>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success me-2">บันทึก</button>
                <button type="button" class="btn btn-danger">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>