<div class="container">
    <div class="bglogin">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>เข้าสู่ระบบ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" routerLink="/dashboard">เข้าสู่ระบบ</button>
            </div>
        </div>
    </div>
</div>