<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="container-fluid sidenav">
      <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" >
        <i class="bi bi-house"></i> <span class="text-menu">หน้าแรก</span>
      </a>
      <a [routerLink]="['/product']" [routerLinkActive]="['active']">
        <i class="bi bi-cart4"></i> <span class="text-menu">สินค้า</span>
      </a>
      <a href="dashboard">
        หน้าแรก
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand">
          <i class="bi bi-bag icon" ></i>
        </a>
        <div class="row justify-content-end">
          <div class="col-md-12">
            <div class="dropdown navbar-brand">
              <b class="me-2">Admin</b>
              <i class="dropdown-toggle icon" style="color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false" class="bi bi-person-circle">
                 <i class="bi bi-chevron-down icon"></i>
              </i>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/user"><i class="bi bi-person icon"></i>ข้อมูลส่วนตัว</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-lock icon"></i>เปลี่ยนรหัสผ่าน</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right icon"></i>ออกจากระบบ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>